*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f4c983;
}

img{
    width: 100%;
    height: 75vh;
}

a{
    color: #f4c983;
    text-decoration: none;
    font-size: 25px;
}

.return{
    background-color: #536162;
    text-align: center;
    flex: 1;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

p{
    font-family: "Lucida Console", "Courier New", monospace;
            text-align: center;
}